/* Estilos generales */
/* Bloque 1 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del encabezado y la barra de navegación */
header {
    background-color:#ffffff;
    color: rgb(0, 0, 0);
    padding:  0; /* Desde aqui */
    width: 100%;
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
    display: flex;
}
nav{
   display: flex ;
   justify-content: space-between;
   align-items: center;
    width: 100%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.navbar li {
    display: inline;
    padding: 0 20px;
}

.navbar a {
    color: rgb(9, 8, 8);
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

.mailto a img { 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    transition-duration: 2s;
    
}
.mailto:hover{
    scale:2;
    background:#26487D;
    box-shadow: 0 0 10px #38539e;
}
img{
    width:60px ;
}
    /* Estilos de la sección hero */
    /* Bloque 2 */
.hero {
    position: relative;
    background: url('../img/banner.jpg') no-repeat center center/cover;
    height: 900px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.overlay {
    background-color: rgba(105, 103, 103, 0.5);
    padding: 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.hero h1 {
    font-size: 3em;
    margin: 0;
}

.hero h2 {
    font-size: 2em;
    margin: 10px 0;
}

.hero p {
    font-size: 1.2em;
}

.hero button {
    background-color:#26487D;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.hero button:hover {
    background-color: #091830e0;
}

/* Estilos de la sección de servicios */
/* Bloque 3 */
.servicios {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f4f4f4;
    flex-wrap: wrap;
}

.servicios div {
    text-align: center;
    flex: 1 1 300px;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(33, 42, 85, 0.7);
    border-radius: 10px;
}

.servicios div:hover {
    transform: scale(1.1); /* Aumenta el tamaño del elemento */
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* Añade una sombra */
}

.servicios img {
    width: 300px;
    height: 300px;
}

.servicios .uno {
    font-size: 1.5em;
    font-weight: bold;
}

.servicios .dos {
    font-size: 1em;
}
.bajoMapa{
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    width: 100%;
    


}
.bajoMapa img{
    width: 100px;
    height: 100px;
}


/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    .servicios {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos de la sección sobre mí */
/* Bloque 4 */
.sobre {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #bdbcc2;
}
.acerca{
    width: 100%;
}
.acerca img {
    
   width: 70%;
    height: 70%;
}

.sobre ul {
    list-style-type: none;
    padding: 0;
}

.sobre ul li {
    margin: 10px 0;
}

/* Estilos de los botones de desplazamiento */
#scrollUpBtn, #scrollDownBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
}

#scrollUpBtn:hover, #scrollDownBtn:hover {
    background-color: #555;
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    .sobre {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilos de la sección de contacto */
/* Bloque 5 */
.contacto {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;;
}

.contacto .uno {
    font-size: 2em;
    font-weight: bold;
}

.contacto .dos {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Estilos del iframe de Google Maps */
.contacto iframe {
    width: 90%;
    height: 500px;
    border: 1px solid black; /* Añade un borde de 1px sólido y negro */
    margin-top: 20px;
    
}

/* Media Queries para diseño responsive */
@media (max-width: 768px) {
    .contacto iframe {
        height: 400px;
    }
}

/* Estilo del Formulario */
/* Bloque 6 */


.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #004d00, #80e0a0); /* Degradado inicial */
    background-size: 200% 200%; /* Para animar el degradado */
    animation: gradientAnimation 6s ease infinite; /* Animación del degradado */
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

fieldset {
    border-radius: 12px;
}

button {
    width: 60%;
    padding: 10px;
    background-color:#26487D;
    color: white;
    border: none;
    border-radius: 124px;
    cursor: pointer;
    display: block; /* Asegúrate de que el botón sea un bloque para centrarlo */
    margin: 20px auto; /* Centra el botón con margen automático */
    
}

button:hover {
    background-color: #2f3f60;
}

#responseMessage {
    text-align: center;
    margin-top: 20px;
    color: rgb(67, 72, 140);
}

/* Estilos del pie de página */
/* Bloque 7 */
#footer {
    background-color:#26487D;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 20px 25px 0 0;
}

#footer p {
    margin: 0;
}

#footer span {
    font-weight: bold;
}